
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li {
  a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    &:hover {
      background-color: #555;
      color: white;
    }
  }
}

  .project-btn{
    position: fixed;
    right: 15px;
    bottom: 15px;
  }
  .form{
    position: fixed;
    top: 30%;
  }

  .open{
    display: none;
  }

